<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lt.tomzmt.mycoins"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

	<uses-permission android:name="android.permission.CAMERA" />
	<uses-feature android:name="android.hardware.camera" />
	<uses-feature android:name="android.hardware.camera.autofocus" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
		<activity
            android:name="lt.tomzmt.mycoins.ui.CoinsListActivity"
            android:screenOrientation="nosensor"
            android:launchMode="singleTop">
			<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
			<intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
			<meta-data android:name="android.app.searchable"
				android:resource="@xml/searchable"/>
		</activity>
        
        <activity
            android:name="lt.tomzmt.mycoins.ui.TakePhotoActivity"
            android:screenOrientation="nosensor"/>
        
		<activity
            android:name="lt.tomzmt.mycoins.ui.EditCoinActivity"
            android:screenOrientation="nosensor"/>

		<activity
            android:name="lt.tomzmt.mycoins.ui.CoinDetailsActivity"
            android:screenOrientation="nosensor"/>
		
		<activity 
		    android:name="lt.tomzmt.mycoins.ui.SelectCountryActivity"
		    android:screenOrientation="nosensor"/>
		
		<activity
		    android:name="lt.tomzmt.mycoins.ui.NewCountryActivity"
		    android:screenOrientation="nosensor"/>
		
		<provider
            android:name="lt.tomzmt.mycoins.data.CoinsDataProvider" 
            android:authorities="lt.tomzmt.mycoins.provider"
            android:exported="false"/>

		<provider
            android:name="lt.tomzmt.mycoins.data.SearchSuggestContentProvider" 
            android:authorities="lt.tomzmt.mycoins.data.SearchSuggestContentProvider"
            android:exported="false"/>
				
    </application>

</manifest>